body, html{
    padding: 0;
    margin: 0;
    font-family: 'Bellefair', serif;  
    width: 100vw;
}
/* general design */

.navi-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numbers{
    font-weight: 700;
}
.navi-links ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
   
    font-size: 16px;
    letter-spacing: 2.6px;
}
button a{
    text-decoration: none;
    color: black;
}

/* desktop design */
/* navbar */
@media screen and (min-width: 992px) {
    .navi-wrapper{
        margin: 60px 0 40px 40px;
    }
    .navi-links-wrapper{
        padding: 0 110px 0 100px;
        backdrop-filter: blur(100px);

    } 
    .active{
        border-bottom: #FFFFFF 4px solid;
    }  
    .navi-links ul{
        list-style: none;  
        text-align: center;
        margin: 0;
        padding-left: 50px; 
        
    }
    .navi-links ul li{
        display: inline-block;
        padding: 40px 20px;
    }

    .navi-links ul li:hover {
        border-bottom: #ffffff88 4px solid;
    }
    /* home */
    .col1-home{
        text-align: left;
        padding: 240px 120px 0 0 ;
    }
    .col1-home h5{
        letter-spacing: 4.75px;
        font-size: 28px;
        text-transform: uppercase;
        color: #D0D6F9;
    }
    .col1-home h1{
        margin: 12px 0;
        font-size: 150px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .col1-home p{
        font-size: 18px;
        line-height: 32px;
        color: #D0D6F9;
    }
    .col2-home{
        padding-top: 290px ;
        text-align: center;
    }
    .col2-home button{
        text-transform: uppercase;
        padding: 120px 80px;
        border-radius: 100%;
        background-color: #FFFFFF;
        border: 0;
        font-size: 32px;
    }
    .col2-home button:hover {
        box-shadow: 0px 0px 0px 40px #979797;
        transition: 0.5s;
    }
    /* destination */

    h5 span{
        color: gray;
        font-weight: 700;
    }
    .col1-destination{
        padding-top: 50px;
    }
    .col1-destination h5{
        letter-spacing: 4.725px;
        font-size: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .planet-img-wrapper{
        padding-top: 90px;
        text-align: center;
    }

    .planet-active{
        border-bottom: 2px solid #FFFFFF;
    }
    .planet-navbar ul{
        padding: 0;
    }
    .planet-navbar ul li{
        
        font-size: 16px;
        letter-spacing: 2.7px;
        padding-right: 25px;
        text-transform: uppercase;
        display: inline-block;
        list-style: none;
        color: #D0D6F9;
    }
    .planet-navbar li span:hover{
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
    }

    .col2-destination{
        padding: 140px 150px 0 60px;
    }
    .col2-destination h2{
        font-size: 100px;
        text-transform: uppercase;
        color: white;
    }
    .planet-description p{
        font-size: 18px;
        line-height: 32px;
        color: #D0D6F9;
    }
    .col2-destination hr{
        color: gray;
    }
    .distance-facts{
        font-size: 14px;
        letter-spacing: 2.3625px;
        text-transform: uppercase;
        color: #D0D6F9;
        display: flex;
        justify-content: space-between;
    }
    .travel-time{
        padding: 0 90px 0 0;
    }
    .distance-facts span{
        letter-spacing: normal;
        font-size: 28px;
        color: #FFFFFF;
    }
        /* crew */
    .col-lg-12{
        padding: 0;
    }
    .crew-heading{
        padding: 30px 0;
       
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 4.725px;
        color: #FFFFFF;
    }
    .crew-heading span{
        color: #FFFFFF;
        opacity: 0.25;
        font-weight: 700;
    }
    .crew-position{
        color: #FFFFFF;
        opacity: 0.5;
        font-size: 32px;
        text-transform: uppercase;
    }
    .crew-name{
        color: #FFFFFF;
        font-size: 56px;
        text-transform: uppercase;
    }
    .col2-crew{
        text-align: end;
    }
    .col1-crew{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: start;
        padding: 0 100px 0 0;
    }
    .crew-navbar ul{
        padding-left: 0;
    }
    .crew-desc{
        font-size: 18px;
        color: #D0D6F9;
        line-height: 32px;
    }
    .crew-hr{
        display: none;
    }
    .crew-navbar{
        padding-top: 30px;
        text-align: center;
    }
    .crew-navbar li{
        width: 15px;
        height: 15px;
        margin: 0 14px;
        background-color: #FFFFFF;
        display: inline-block;
        list-style: none;
        border-radius: 100px;
        opacity: 17.44%;
    }
    .crew-navbar li:hover{
        opacity: 50%;
    }
    .crew-active{
        opacity: unset !important;
    }
    .crew-navbar li a{
        width: 100%;
        height: 100%;
    }
    .crew-img{
        width: 568.07px;
        height: 712px;

    }
    /* Tech */
    .col1-tech{
        padding: 40px 0 40px 50px;
    }
    .col1-tech h5{
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 28px;
        letter-spacing: 4.72px;
        font-weight: 400;
        padding: 20px 0;
    }
    .col1-tech span{
        font-size: 28px;
        opacity: 0.25;
        font-weight: 700;
    }
    .col2-tech{
        grid-area: c;
        padding: 0;
    }
    .tech-row{
        text-align: center;
    }
    .tech-img-wrapper{
        width: 515px;
        height: 527px;
        background-image: url(assets/technology/image-launch-vehicle-portrait.jpg);
        background-position: center center;
        background-size: cover;
    }
    .tech-navbar{
        padding: 40px 0 0 100px;
        text-align: center;
    }
    .tech-navbar li{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        color: #FFFFFF;
        width: 80px;
        height: 80px;
        border: 1px solid #FFFFFF;
        border-radius: 100%;
        margin: 20px 0;

    }
    .tech-navbar li a{
        font-weight: 400;
        font-size: 32px;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px 7.5px;
    }
    .tech-active{
        background-color: #FFFFFF;
        color: black !important;
    }
    .col3-tech{
        grid-area: a;
    }
    .col4-tech{
        grid-area: b;
        text-align: left;
        padding: 60px 200px 0 100px;
    }
    .col4-tech .tech-heading{
        color: #D0D6F9;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2.7px;
    }
    .col4-tech .tech-name{
        padding: 5px 0;
        color: #FFFFFF;
        font-size: 56px;
        text-transform: uppercase;
    }
    .col4-tech .tech-vehicle-desc{
        padding: 10px 0;
        color: #D0D6F9;
        font-size: 18px;
        line-height: 32px; 
    }
}




/* tablet design */
/* navbar */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .navi-links-wrapper{
        padding: 0 20px 0 40px;
        backdrop-filter: blur(100px);
    } 
    .navi-logo{
        padding-left: 40px;
    }
    .active{
        border-bottom: #FFFFFF 3px solid;
    }
    .navi-links ul{
        list-style: none;  
        text-align: center;
        margin: 0;
        padding-left: 50px;  
    }
    .navi-links ul li{
        display: inline-block;
        padding: 40px 10px;
    }

/* home */
    .col1-home{
        text-align: center;
        padding: 80px 95px 100px 95px;
    }
    .col1-home h5{
        letter-spacing: 3.375px;
        font-size: 20px;
        text-transform: uppercase;
        color: #D0D6F9;
    }
    .col1-home h1{
        margin: 12px 0;
        font-size: 150px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .col1-home p{
        font-size: 16px;
        line-height: 28px;
        color: #D0D6F9;
    }
    .col2-home{
        text-align: center;
    }
    .col2-home button{
        text-transform: uppercase;
        padding: 120px 80px;
        border-radius: 100%;
        background-color: #FFFFFF;
        border: 0;
        font-size: 32px;
    }
    .col2-home button:hover {
        box-shadow: 0px 0px 0px 40px #979797;
        transition: 0.5s;
    }
    /* destination */
    h5 span{
        font-weight: 700;
        opacity: 0.25;
    }
    .col1-destination{
        padding-top: 30px;
    }
    .col1-destination h5{
        letter-spacing: 3.375px;
        font-size: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .planet-img-wrapper{
        padding-top: 50px;
        text-align: center;
    }
    .planet-img{
        width: 300px;
    }

    .planet-active{
        color: #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
    }
    .planet-navbar ul{
        padding-top: 50px;
    }
    .planet-navbar ul li{  
        font-size: 16px;
        letter-spacing: 2.7px;
        padding-right: 25px;
        text-transform: uppercase;
        display: inline-block;
        list-style: none;
        color: #D0D6F9;
    }
    .planet-navbar li span:hover{
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
    }

    .col2-destination{
        text-align: center;
        padding: 0 50px 0 50px;
    }
    .col2-destination h2{
        padding-top: 30px;
        font-size: 80px;
        text-transform: uppercase;
        color: white;
    }
    .planet-description p{
        font-size: 16px;
        color: #D0D6F9;
        line-height: 28px;
    }
    .col2-destination hr{
        color: gray;
    }
    .distance-facts{
        font-size: 14px;
        letter-spacing: 2.3625px;
        text-transform: uppercase;
        color: #D0D6F9;
        display: flex;
        justify-content: center;
    }
    .travel-time{
        padding: 0 0px 0 140px;
    }
    .distance-facts span{
        letter-spacing: normal;
        font-size: 28px;
        color: #FFFFFF;
    }
    /* crew */

    .crew-heading{
        padding: 30px 0 30px 30px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 3.375px;
        color: #FFFFFF;
    }
    .crew-heading span{
        color: #FFFFFF;
        opacity: 0.25;
        font-weight: 700;
    }
    .crew-position{
        color: #FFFFFF;
        opacity: 0.5;
        font-size: 24px;
        text-transform: uppercase;
    }
    .crew-name{
        color: #FFFFFF;
        font-size: 40px;
        text-transform: uppercase;
    }
    .col1-crew, .col2-crew{
        text-align: center;
    }
    .col1-crew{
        justify-content: center;
        padding: 0 100px;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .crew-desc{
        font-size: 16px;
        color: #D0D6F9;
        line-height: 28px;
    }
    .crew-hr{
        display: none;
    }
    .crew-navbar{
        padding-top: 30px;
        text-align: center;
    }
    .crew-navbar ul{
        padding-left: 0;
    }
    .crew-navbar li{
        width: 10px;
        height: 10px;
        margin: 0 14px;
        background-color: #FFFFFF;
        display: inline-block;
        list-style: none;
        border-radius: 100px;
        opacity: 17.44%;
    }
    .crew-navbar li:hover{
        opacity: 50%;
    }
    .crew-active{
        opacity: unset !important;
    }
    .crew-navbar li a{
        width: 100%;
        height: 100%;
    }
    .crew-img{
        position: absolute;
        left: 200px;
        bottom: 0;
        width: 456.37px;
        height: 572px;
    }
    /* Tech */

    .col1-tech{
        padding: 40px 0 40px 50px;
    }
    .col1-tech h5{
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 20px;
        letter-spacing: 3.38px;
        font-weight: 400;
        padding: 20px 0;
    }
    .col1-tech span{
        font-size: 20px;
        opacity: 0.25;
        font-weight: 700;
    }
    .col2-tech{
        padding: 0;
    }
    .tech-row{
        text-align: center;
    }
    .tech-img-wrapper{
        width: 100vw;
        height: 310px;
        background-image: url(assets/technology/image-launch-vehicle-landscape.jpg);
        background-position: center center;
        background-size: cover;
    }
    .tech-navbar{
        padding: 40px 0;
        text-align: center;
    }
    .tech-navbar li{
        display: inline-block;
        list-style: none;
        color: #FFFFFF;
        padding: 15px 20px;
        border: 1px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 15px;

    }
    .tech-navbar li a{
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px 7.5px;
    }
    .tech-active{
        background-color: #FFFFFF;
        color: black !important;
    }
    .col4-tech{
        text-align: center;
        padding: 0 160px;
    }
    .col4-tech .tech-heading{
        color: #D0D6F9;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2.7px;
    }
    .col4-tech .tech-name{
        padding: 5px 0;
        color: #FFFFFF;
        font-size: 40px;
        text-transform: uppercase;
    }
    .col4-tech .tech-vehicle-desc{
        padding: 10px 0;
        color: #D0D6F9;
        font-size: 16px;
        line-height: 28px; 
    }
    
}

/* mobile dedsign */
@media screen and (max-width: 766px) {
/* navbar */
    .navi-links ul {
        list-style: none;
        margin: 0;       
    }
    .home{
        padding-top: 60px;
    }
    .destination, .crew, .technology{
        padding-top: 30px;
    }
    .close{
        text-align: right;
    }
    .symbole{
        width: 30px;
    }
    .navi-wrapper{
        padding: 30px 30px;
    }

    .expandet{
        position: absolute;
        z-index: 5;
        top: 0;
        left: calc(100vw - 70vw);
        width: 70vw;
        height: 100vh;
        padding: 30px 15px 0 0;
        backdrop-filter: blur(100px);  
    }
    /* homepage */
    .col1-home{
        text-align: center;
        padding: 30px 30px 60px 30px;
    }
    .col1-home h5{
        letter-spacing: 2.7px;
        font-size: 16px;
        text-transform: uppercase;
        color: #D0D6F9;
    }
    .col1-home h1{
        margin: 12px 0;
        font-size: 80px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .col1-home p{
        font-size: 15px;
        line-height: 25px;
        color: #D0D6F9;
    }
    .col2-home{
        text-align: center;
    }
    .col2-home button{
        padding: 90px 60px;
        border-radius: 100%;
        background-color: #FFFFFF;
        border: 0;
        font-size: 20px;
        text-transform: uppercase;
    }
    .col2-home button:hover {
        box-shadow: 0px 0px 0px 40px #979797;
        transition: 0.5s;
    }
    /* destination */
    h5 span{
        font-weight: 700;
        color: gray;
    }
    .col1-destination{
        text-align: center;
        padding-top: 20px;
    }
    .col1-destination h5{
        letter-spacing: 2.7px;
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .planet-img-wrapper{
        padding-top: 20px;   
    }
    .planet-img{
        width: 170px;
    }
    .planet-active{
        color: #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
    }
    .planet-navbar ul{
        padding: 0;
    }
    .planet-navbar ul li{
        font-size: 14px;
        letter-spacing: 2.3625px;
        padding-right: 25px;
        text-transform: uppercase;
        display: inline-block;
        list-style: none;
        color: #D0D6F9;
    }
    .planet-navbar li span:hover{
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
    }
    .col2-destination{
        text-align: center;
        padding: 30px 15px 0 15px;
    }
    .col2-destination h2{
        padding-top: 16px;
        font-size: 56px;
        text-transform: uppercase;
        color: white;
    }
    .planet-description p{
        font-size: 15px;
        line-height: 25px;
        color: #D0D6F9;
    }
    .col2-destination hr{
        color: gray;
    }
    .avg-distance{
        padding-bottom: 20px;
    }
    .distance-facts{
        text-transform: uppercase;
        color: #D0D6F9;
    }
    .distance-facts span{
        font-size: 28px;
        color: #FFFFFF;
    }
    .distance-facts p{
        font-size: 14px;
        letter-spacing: 2.3625px;
    }
    /* crew */ 
    .col-lg-12{
        grid-area: a;
    }
    .col1-crew{
        grid-area: c;
    }
    .col2-crew{
        grid-area: b;
    }
    .col1-crew, .col2-crew{
        padding: 0 30px;
    }
    .crew-heading{
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .crew-img{
        width: 177px;
        height: 222px;
    }
    .crew-hr{
        color: #FFFFFF;
        margin: 0;
    }
    .crew-navbar{
        padding-top: 30px;
        text-align: center;
    }
    .crew-navbar li{
        width: 10px;
        height: 10px;
        margin: 0 14px;
        background-color: #FFFFFF;
        display: inline-block;
        list-style: none;
        border-radius: 100px;
        opacity: 17.44%;
    }
    .crew-navbar li:hover{
        opacity: 50%;
    }
    .crew-active{
        opacity: unset !important;
    }
    .crew-navbar li a{
        width: 100%;
        height: 100%;
    }
    .col-lg-6{
        text-align: center;
    }
    .col1-crew{
        color: #FFFFFF;

    }
    .col1-crew h4{
        text-transform: uppercase;
        padding-top: 30px;
        font-size: 16px;
        opacity: 0.5;
    }
    .col1-crew h3{
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 30px;
    }
    .col1-crew p{
        color: #D0D6F9;
        font-size: 15px;
        line-height: 25px;
    }
    /* Tech */
    .col1-tech{
        text-align: center;
    }
    .col1-tech h5{
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 16px;
        letter-spacing: 2.7px;
        font-weight: 400;
        padding: 20px 0;
    }
    .col1-tech span{
        opacity: 0.25;
        font-weight: 700;
    }
    .col2-tech{
        padding: 0;
    }
    .tech-img-wrapper{
        width: 100vw;
        height: 170px;
        background-image: url(assets/technology/image-launch-vehicle-landscape.jpg);
        background-position: center center;
        background-size: cover;
    }
    .tech-navbar{
        padding: 20px 0;
        text-align: center;
    }
    .tech-navbar li{
        display: inline-block;
        list-style: none;
        color: #FFFFFF;
        padding: 15px 15px;
        border: 1px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 15px;

    }

    .tech-navbar li a{
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px 7.5px;
    }
    .tech-active{
        background-color: #FFFFFF;
        color: black !important;
    }
    .col4-tech{
        text-align: center;
        padding: 0 30px;
    }
    .col4-tech .tech-heading{
        color: #D0D6F9;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    .col4-tech .tech-name{
        padding: 5px 0;
        color: #FFFFFF;
        font-size: 24px;
        text-transform: uppercase;
    }
    .col4-tech .tech-vehicle-desc{
        padding: 10px 0;
        color: #D0D6F9;
        font-size: 15px;
        line-height: 25px; 
    }

}

.hide{
    display: none !important;
}